<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    <bean id="a" class="com.test.java.Student"> 
  <property name="name" value="Akshita"></property>
  <property name="city" value="Pune"></property>
  </bean>  
  
  <bean id="s" class="com.test.java.Student"> 
  <property name="name" value="Akshay"></property>
  <property name="city" value="Mumbai"></property>
  </bean>  
    
 </beans>